@model List<ATMLocationViewModel>

@if (TempData["Message"] is not null)
{
    @await Html.PartialAsync("_ShowMessageModal", TempData["Message"])
}

<a asp-controller="ATMLocation" asp-action="Create" class="btn btn-primary">New</a>

<table id="atmGrid" class="display" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>Bank Name</th>
            <th>Bank Branch Name</th>
            <th>Region</th>
            <th>Division</th>
            <th>Township</th>
            <th>Address</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    <a asp-controller="ATMLocation" asp-action="Edit" asp-route-id="@item.ATMLocationId" class="btn btn-secondary">Edit</a>
                    <button type="button" class="btn btn-danger btnDelete" data-id="@item.ATMLocationId">Delete</button>
                </th>
                <td>@item.BankName</td>
                <td>@item.BankBranchName</td>
                <td>@item.RegionName</td>
                <td>@item.DivisionName</td>
                <td>@item.TownshipName</td>
                <td>@item.Address</td>
                <td>@item.Status</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script src="~/scripts/atmlocation/atmlocationindex.js" asp-append-version="true"></script>
}